*{
    margin: 0px;
}
.container{
    position: fixed;
    top:5px;
    left: 5px;
}
.green{
    color: lightgreen;
}
.blue{
    color: lightblue;
}
.red{
    color: pink;
}
.yellow{
    color: lightyellow;
}

body{
    background-color: #8a8a8a;
    font-family: 'Open Sans', sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #555555;
    text-align: center;
    padding-top: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #555555;
    text-align: center;
}
h1{
    color: white;
    margin-top: 15px;
}
h3{
    color: white;
    margin-top: 40px;
}
.main--input{
    height: 30px;
    width: 245px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.main--makeList{
    position: relative;
    top: 120px;
    display: inline-flex;
}
.main--list{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
.main--radio{
    margin-top: 10px;
}
.main--h4{
    position: absolute;
    top: 10px;
    padding-left: 10px;
    visibility: visible;
}
.main--btn{
    height: 30px;
    width: 110px;
    border-radius: 5px;
    border: none;
    margin-left: 140px;
    background-color: lightgray;
    outline: none;
}
.list--del{
position: absolute;
top: 5px;
right: 0px;
border: none;
background-color: transparent;
outline: none;
}
.addList--Item{
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-decoration: none;
    color: black;
}
.addList--Item:hover{
    color: #555555;
}
.material-icons:hover{
color: #555555;
}
.input--edit{
    position: absolute;
    top: 10px;
    left: 10px;
}
.save--btn{
position: absolute;
top:10px;
left: 170px;
}