*{
    margin: 0px;
}
.container{
    position: fixed;
    top:5px;
    left: 5px;
}
.green{
    color: lightgreen;
}
.blue{
    color: lightblue;
}
.red{
    color: pink;
}
.yellow{
    color: lightyellow; 
}

body{
    background-color: #8a8a8a;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #555555;
    text-align: center;
    padding-top: 20px;
    z-index: 100;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #555555;
    text-align: center;
}
h1{
    color: white;
    margin-top: 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 63px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
footer>h3{
    color: white;
    margin-top: 40px;
}
hr{
    background: #555555;
    border: #555555;
}

.main--input{
    position: relative;
    height: 30px;
    width: 220px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.main--input__placeholder{
    left: 0px;
}
.main--input__placeholder::placeholder{
    color: red;
}
.main--makeList{
    position: relative;
    top: 120px;
    height: initial;
    display: inline-flex;
}
.main--list{
    position: relative;
    width: 300px;
    height: calc(100% - (20px + 30px));
    background-color: lightgreen;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 110px;
    /* transition: all .2s ease-in-out; */
}
.main--list>ul {
    width: 243px;
    margin-left: 39px;
    padding: 0px;
}
.main--radio{
    margin-top: 10px;
}
.main--h4{
    position: relative;
    top: 4px;
    left: 5px;
    padding-left: 10px;
    visibility: visible;
    cursor: pointer;
}
.main--h4:hover{
    color: #555555;
}
.main--btn{
    height: 30px;
    width: 110px;
    border-radius: 5px;
    border: none;
    /* margin-left: 115px; */
    background-color: lightgray;
    outline: none;
    cursor: pointer;
}
.main--btn:hover{
    background-color: rgb(250, 250, 250);
}
.list--del{
    position: relative;
    left: 275px;
    top: -20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.addList--Item{
    position: relative;
    top: 11px;
    left: -13px;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.addList--Item:hover{
    color: #555555;
}
.material-icons{
    font-size: 18px;
}
.material-icons:hover{
    color: #555555;
}
.input--edit{
    position: absolute;
    top: 8px;
    left: 15px;
    width: 165px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 4px;
    margin-bottom: 15px;
    outline: none;
}
.save--btn{
position: absolute;
top: 9px;
left: 188px;
height: 20px;
background: green;
border: none;
border-radius: 5px;
color: #ffffff;
cursor: pointer;
}
.save--btn:hover{
    background: rgb(38, 177, 38);
}

.list--card{
    position: relative;
    width: 274px;
    left: -25px;
    height: 64px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 3px;
}
.list--card>span{
    margin-left: 9px;
    line-height: 3; 
}
.card--del{
    position: relative;
    left: 219px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    top: -60px;
}
.half-closable-element{
    height: 0px;
}

.titleKort{
    position: relative;
    top: -10px;
    left: -3px;
}
.editIcon-pos{
    position: absolute;
    top: 4px;
    font-size: 18px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------ */
/*---------------------------- CREATE&EDIT MODAL----------------------------*/
/* ------------------------------------------------------------------------ */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 150; /* Sit on top */
    left: 0px;
    top: 0px;
    padding-top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 586px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 102px;
  }
  .modalInput{
      border-radius: 5px;
      resize: none;
  }
  .editIcon-pos{
      position: absolute;
      top: 4px;
      font-size: 18px;
      cursor: pointer;
  }
  /* The Close Button */
  .edit-close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .edit-close:hover,
  .edit-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content>div{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      width: 131%;
  }
  .modal-content .modal-header .header-content{
    display: flex;
    flex-direction: row;
    color: #607D8B;
    margin-bottom: 10px;
}
.modal-content .modal-header .header-content>h3{
    padding-left: 10px;
    line-height: 1;
}
.modal-content .modal-header>span{
    font-size: 12px;
    margin-left: 29px;
    color: gray;
}
.modal-content .modal-header>input{
    font-size: 26px;
    font-weight: 500;
    width: 68%;
    border: none;
    background-color: #00bcd400;
    padding: 7px;
    margin-left: 25px;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-bottom: 5px;
}
  .modal-content .modal-description .description-content{
      display: flex;
      flex-direction: row;
      color: #607D8B;
  }

  .modal-content .modal-description>textarea{
    width: 67%;
    margin-left: 27px;
    padding: 11px;
    font-size: 13px;
    height: 100px;
    border: none;
    background-color: #00bcd400;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

  }
  .modal-content .modal-description>button{
    margin: 10px 25px;
    background-color: lightgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .modal-content .modal-description>button:hover{
    background-color: lightgray;
    opacity:0.6;
  }
  .modal-content .modal-description .description-content>i{
    line-height: 2;
    font-size: 18px;
  }
  .modal-content .modal-description .description-content>h3{
    padding-left: 10px;
    line-height: 2;
  }

  .modal-content .modal-comment .comment-content{
    display: flex;
    flex-direction: row;
    color: #607D8B;
}
/* ------------------------------------------------------------------ */
/*---------------------------- KOMMENTAR ----------------------------*/
/* ------------------------------------------------------------------ */
.modal-content .modal-comment>h3{
    padding: 23px;
    color: #607D8B;
}
.modal-content .modal-comment .icon--comment{
    position: relative;
    top: 43px;
    color: #607D8B;
}
.modal-content .modal-comment>textarea{
    width: 67%;
    margin-left: 27px;
    padding: 11px;
    font-size: 13px;
    height: 37px;
    border: none;
    background-color: #00bcd400;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.modal-content .modal-comment>button{
    margin: 10px 25px;
    background-color: lightgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.modal-content .modal-comment>button:hover{
    background-color:lightgray;
    opacity: 0.7;
  }
.modal-content .modal-comment .comment-content>i{
    line-height: 2;
    font-size: 18px;
}
.modal-content .modal-comment .comment-content>h3{
    padding-left: 10px;
    line-height: 2;
}
#editCommentInput{
    outline: none;
}
.commentList li {
    display: flex;
    flex-direction: column-reverse;
}

.commentList li .commentInputSpan{
    background-color: #00bcd400;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    height: auto;
    width: 73%;
    margin-left: -12px;
    border-radius: 22px;
    padding: 13px;
    margin-top: 4px;
    text-align: justify;
}
.commentList li  .commentDateSpan{
    color: #6b808c;
    font-size: 11px;
}
.commentList li::before {
    border-bottom: 1px solid #e2d7d7;
    bottom: 0;
    content: "";
    display: block;
    width: 75%;
    margin: 20px 0px;
    margin-left: -9px;
  }
  .commentList li .commentDescriptionSpan{
    margin-left: -16px;
  }
  .commentList li .comment--del{
    width: 83px;
    padding: 7px;
    margin-top: 10px;
    background-color: #ffdead00;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    letter-spacing: 1px;
    color: #6b808c;
  }
  .commentList li .comment--del:hover{
    color: #1e2529;
  }
  .commentList li .edit--comment{
    width: 83px;
    padding: 7px;
    margin-top: 10px;
    background-color: #ffdead00;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    letter-spacing: 1px;
    color: #6b808c;
    margin-left: 5px;
  }
  .commentList li .edit--comment:hover{
    color: #1e2529;
  }
  .commentList li .input--comment-edit{
    width: 71%;
    margin-left: -8px;
    padding: 11px;
    font-size: 13px;
    height: 37px;
    border: none;
    background-color: #00bcd400;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-top: -69px;
  }
  .commentList li .save--edit--btn {
    position: relative;
    top: 37px;
    padding: 6px 1px;
    background-color: lightgray;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    height: 27px;
    width: 53px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.commentList li .save--edit--btn:hover{
    opacity: 0.7;
}
.list--card .listCommentIcon{
    position: relative;
    left: -25px;
    top: 27px;
}


li{
    list-style: none;
}
#editCommentInput{
    outline: none;
}

.drag-drop--invisible{
    display: none;
}


/* Drag and drop effect */


.drag-drop-transform {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
